In [1]:
import pandas as pd
#for visualization
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO
from IPython.display import Image
import pydotplus
#for model
from sklearn.tree import DecisionTreeClassifier #A decision tree classifier.
from sklearn.preprocessing import LabelEncoder #for converting strings to fit form
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split #Split arrays or matrices into random train and test subsets

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\externals\six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [2]:
def convert(data, columns):
    number=LabelEncoder()
    for c in columns:
        data[c] = number.fit_transform(data[c])
    return data

In [3]:
credit = pd.read_csv("datasets\\CreditSample.txt", delimiter="\t", header=0, index_col=None, encoding='cp1251')
credit.head()

,Код,№ Паспорта,ФИО,Адрес,"Размер ссуды, руб","Срок ссуды, мес",Цель ссуды,"Среднемесячный доход, руб","Среднемесячный расход, руб",Основное направление расходов,...,"Срок работы на данном предприятии, лет",Направление деятельности заемщика,"Срок работы на данном направлении, лет",Пол,Семейное положение,Количество лет,Количество иждивенцев,"Срок проживания в данной местности, лет",Обеспеченность займа,Давать кредит
0,1,0936-866096,1,1,10000,12,Покупка товара,4500,3000,Покупка товаров длит. пользования,...,6,Реклама и маркетинг,8,Жен,Да,41,3,24,ИСТИНА,ИСТИНА
1,2,8355-512943,1,1,14000,12,Оплата за образование,8500,3000,Покупка и ремонт недвижимости,...,10,Адм.-хоз. и транспортная службы,12,Жен,Нет,26,0,20,ИСТИНА,ИСТИНА
2,3,8017-098471,1,1,25000,18,Оплата за образование,7000,4000,Затраты на образование (в т.ч. детей),...,8,Участие в основной деятельности,8,Жен,Да,32,3,13,ИСТИНА,ИСТИНА
3,4,2762-945535,1,1,64000,48,Покупка и ремонт недвижимости,7000,5000,Покупка товаров длит. пользования,...,9,Участие в основной деятельности,11,Муж,Нет,50,2,22,ИСТИНА,ИСТИНА
4,5,0459-997701,1,1,3500,6,Покупка товара,3000,1500,"Содержание/аренда недвижимости, а/т",...,7,Участие в основной деятельности,8,Муж,Да,30,0,14,ИСТИНА,ЛОЖЬ

In [4]:
columns = ['Давать кредит', 'Адрес', 'Код', 'Название организации', 'ФИО', '№ Паспорта']
X=credit[credit.columns.difference(columns)]
Y=credit[columns[0]].to_frame()
X.head()

,Количество иждивенцев,Количество лет,Наличие автотранспорта,Наличие банковского счета,Наличие недвижимости,Наличие страховки,Направление деятельности заемщика,Обеспеченность займа,Основное направление расходов,Отраслевая принадлежность предприятия,Пол,"Размер ссуды, руб",Семейное положение,"Среднемесячный доход, руб","Среднемесячный расход, руб","Срок проживания в данной местности, лет","Срок работы на данном направлении, лет","Срок работы на данном предприятии, лет","Срок ссуды, мес",Цель ссуды
0,3,41,Да,Нет,Да,Нет,Реклама и маркетинг,ИСТИНА,Покупка товаров длит. пользования,Машиностроение и металлообработка,Жен,10000,Да,4500,3000,24,8,6,12,Покупка товара
1,0,26,Да,Нет,Да,Нет,Адм.-хоз. и транспортная службы,ИСТИНА,Покупка и ремонт недвижимости,"Химия, парфюмерия, фармацефтика",Жен,14000,Нет,8500,3000,20,12,10,12,Оплата за образование
2,3,32,Да,Нет,Да,Нет,Участие в основной деятельности,ИСТИНА,Затраты на образование (в т.ч. детей),Информатика и телекоммуникации,Жен,25000,Да,7000,4000,13,8,8,18,Оплата за образование
3,2,50,Да,Нет,Да,Нет,Участие в основной деятельности,ИСТИНА,Покупка товаров длит. пользования,Торговля розничная,Муж,64000,Нет,7000,5000,22,11,9,48,Покупка и ремонт недвижимости
4,0,30,Да,Нет,Нет,Нет,Участие в основной деятельности,ИСТИНА,"Содержание/аренда недвижимости, а/т",Туризм,Муж,3500,Да,3000,1500,14,8,7,6,Покупка товара

In [5]:
columns_X=X.columns.tolist()
columns_Y=Y.columns.tolist()
X=convert(X, columns_X)
Y=convert(Y, columns_Y)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [6]:
Y.head()

   Давать кредит
0              0
1              0
2              0
3              0
4              1

In [7]:
x_train, x_test, y_train, y_test=train_test_split(X,Y,test_size=0.25, random_state=1)

In [8]:
clf=DecisionTreeClassifier()
clf.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [9]:
y_pred = clf.predict(x_test)
y_pred

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1])

In [10]:
y_test

     Давать кредит
145              0
89               1
54               0
77               0
84               0
105              0
91               0
53               0
44               0
59               0
5                0
16               1
93               1
14               0
58               0
33               0
73               0
29               0
66               0
35               0
119              0
144              0
31               0
130              1
111              0
19               1
51               0
48               0
90               0
102              0
127              0
98               0
42               0
136              1
28               1
40               1
107              0
117              1

In [11]:
confusion_matrix(y_test, y_pred)

array([[26,  3],
       [ 7,  2]], dtype=int64)

In [12]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.90      0.84        29
           1       0.40      0.22      0.29         9

    accuracy                           0.74        38
   macro avg       0.59      0.56      0.56        38
weighted avg       0.70      0.74      0.71        38

In [13]:
accuracy_score(y_test, y_pred)

0.7368421052631579