# Линейный дискриминантный анализ

In [2]:
import numpy as np
import pandas as pd
from convert import convert
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score

# Загрузка данных

In [3]:
path = "datasets\\"
dataset_train = "Chapter07DataSet_Training.csv"
dataset_score = "Chapter07DataSet_Scoring.csv"

sport_train = pd.read_csv(path+dataset_train)
sport_score = pd.read_csv(path+dataset_score)

In [4]:
sport_train.head()

,Age,Strength,Quickness,Injury,Vision,Endurance,Agility,Decision_Making,Prime_Sport
0,15.1,3,2,1,2,3,29,4,Football
1,15.4,3,2,0,3,5,18,8,Baseball
2,13.6,5,5,0,2,5,27,28,Hockey
3,18.8,5,1,1,1,3,48,36,Hockey
4,16.1,3,1,0,3,3,38,29,Football

In [5]:
sport_score.head()

,Age,Strength,Quickness,Injury,Vision,Endurance,Agility,Decision_Making
0,18.5,5,1,1,0,5,33,61
1,13.3,1,2,1,3,5,18,59
2,13.4,2,1,0,2,5,40,11
3,13.6,4,1,0,0,5,28,0
4,16.3,3,1,0,2,5,32,35

In [6]:
sport_train.describe()

,Age,Strength,Quickness,Injury,Vision,Endurance,Agility,Decision_Making
count,493.000000,493.000000,493.000000,493.000000,493.000000,493.000000,493.000000,493.000000
mean,15.941785,3.519270,1.973631,0.638945,1.697769,3.849899,33.685598,30.172414
std,1.808235,1.464392,1.499768,0.480794,1.133352,1.330454,12.446329,21.484270
min,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,0.000000
25%,14.300000,3.000000,1.000000,0.000000,1.000000,3.000000,23.000000,11.000000
50%,15.900000,4.000000,1.000000,1.000000,2.000000,5.000000,32.000000,29.000000
75%,17.600000,4.000000,2.000000,1.000000,3.000000,5.000000,42.000000,41.000000
max,19.000000,7.000000,6.000000,1.000000,3.000000,6.000000,80.000000,103.000000

In [7]:
sport_score.describe()

,Age,Strength,Quickness,Injury,Vision,Endurance,Agility,Decision_Making
count,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000
mean,15.980934,3.568713,1.969582,0.665942,1.598045,3.728408,34.185225,29.688213
std,1.728744,1.476916,1.542213,0.471788,1.185637,1.364178,12.334862,22.421518
min,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,0.000000
25%,14.500000,3.000000,1.000000,0.000000,0.000000,3.000000,24.000000,8.000000
50%,16.000000,4.000000,1.000000,1.000000,2.000000,3.000000,33.000000,29.000000
75%,17.400000,4.000000,2.000000,1.000000,3.000000,5.000000,43.000000,44.000000
max,19.000000,7.000000,6.000000,1.000000,3.000000,6.000000,80.000000,119.000000

# Подготовка данных

In [8]:
sport_train=sport_train[(sport_train.Decision_Making<=100)&(sport_train.Decision_Making>=3)]
sport_score=sport_score[(sport_score.Decision_Making<=100)&(sport_score.Decision_Making>=3)]
sport_train = convert(sport_train, ["Prime_Sport"])

In [9]:
sport_train.describe()

,Age,Strength,Quickness,Injury,Vision,Endurance,Agility,Decision_Making,Prime_Sport
count,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000,482.000000
mean,15.954564,3.500000,1.983402,0.639004,1.692946,3.856846,33.680498,29.157676,1.543568
std,1.817320,1.460854,1.505269,0.480788,1.134010,1.331782,12.523973,19.477265,1.092009
min,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,3.000000,0.000000
25%,14.300000,3.000000,1.000000,0.000000,1.000000,3.000000,23.000000,11.000000,1.000000
50%,15.900000,4.000000,1.000000,1.000000,2.000000,5.000000,31.500000,29.000000,2.000000
75%,17.600000,4.000000,2.000000,1.000000,3.000000,5.000000,42.750000,40.000000,2.000000
max,19.000000,7.000000,6.000000,1.000000,3.000000,6.000000,80.000000,100.000000,3.000000

In [10]:
sport_score.describe()

,Age,Strength,Quickness,Injury,Vision,Endurance,Agility,Decision_Making
count,1767.000000,1767.000000,1767.000000,1767.000000,1767.000000,1767.000000,1767.000000,1767.000000
mean,15.982513,3.567063,1.987550,0.664969,1.599887,3.736276,34.013016,29.946237
std,1.729906,1.479915,1.551992,0.472135,1.188402,1.366378,12.299599,21.116807
min,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,3.000000
25%,14.500000,3.000000,1.000000,0.000000,0.000000,3.000000,24.000000,11.000000
50%,16.000000,4.000000,1.000000,1.000000,2.000000,3.000000,32.000000,29.000000
75%,17.400000,4.000000,2.000000,1.000000,3.000000,5.000000,43.000000,44.000000
max,19.000000,7.000000,6.000000,1.000000,3.000000,6.000000,80.000000,100.000000

In [11]:
x = sport_train.iloc[:, :8]
y = sport_train.iloc[:, 8]

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [13]:
#scaler = StandardScaler()
#x_train = scaler.fit_transform(x_train)
#x_test = scaler.transform(x_test)

In [14]:
lda = LDA(n_components=1)
#x_train = lda.fit_transform(x_train, y_train)
#x_test = lda.transform(x_test)

# Обучение

In [15]:
classifier = RandomForestClassifier(max_depth=2)

classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

# Оценка модели

In [16]:
cm = confusion_matrix(y_test, y_pred)
print(cm)
print('Accuracy: ' + str(accuracy_score(y_test, y_pred)))

[[ 7  1  9  2]
 [ 7  1  7  5]
 [ 4  0 30  7]
 [ 2  0  8  7]]
Accuracy: 0.4639175257731959

In [17]:
y_pred = classifier.predict(x_test)

In [18]:
y_pred

array([2, 3, 2, 3, 3, 3, 3, 0, 3, 2, 3, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 0, 0, 2, 3, 2, 2, 3, 3, 0, 3, 2, 2, 2, 3,
       2, 2, 2, 3, 0, 3, 2, 2, 0, 0, 2, 3, 2, 3, 3, 3, 2, 2, 2, 0, 2, 0,
       2, 2, 2, 2, 3, 2, 0, 2, 2, 3, 2, 0, 1, 2, 2, 0, 2, 2, 2, 2, 0, 2,
       0, 1, 0, 0, 2, 2, 3, 2, 2])