In [11]:
import numpy as np
import pandas as pd
from convert import convert
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt

In [2]:
path="datasets\\"
dataset="CreditSample.txt"

credit = pd.read_csv(path+dataset, sep="\t", encoding="cp1251")
print(credit.columns)
credit.head()

Index(['Код', '№ Паспорта', 'ФИО', 'Адрес', 'Размер ссуды, руб',
       'Срок ссуды, мес', 'Цель ссуды', 'Среднемесячный доход, руб',
       'Среднемесячный расход, руб', 'Основное направление расходов',
       'Наличие недвижимости', 'Наличие автотранспорта',
       'Наличие банковского счета', 'Наличие страховки',
       'Название организации', 'Отраслевая принадлежность предприятия',
       'Срок работы на данном предприятии, лет',
       'Направление деятельности заемщика',
       'Срок работы на данном направлении, лет', 'Пол', 'Семейное положение',
       'Количество лет', 'Количество иждивенцев',
       'Срок проживания в данной местности, лет', 'Обеспеченность займа',
       'Давать кредит'],
      dtype='object')

,Код,№ Паспорта,ФИО,Адрес,"Размер ссуды, руб","Срок ссуды, мес",Цель ссуды,"Среднемесячный доход, руб","Среднемесячный расход, руб",Основное направление расходов,...,"Срок работы на данном предприятии, лет",Направление деятельности заемщика,"Срок работы на данном направлении, лет",Пол,Семейное положение,Количество лет,Количество иждивенцев,"Срок проживания в данной местности, лет",Обеспеченность займа,Давать кредит
0,1,0936-866096,1,1,10000,12,Покупка товара,4500,3000,Покупка товаров длит. пользования,...,6,Реклама и маркетинг,8,Жен,Да,41,3,24,ИСТИНА,ИСТИНА
1,2,8355-512943,1,1,14000,12,Оплата за образование,8500,3000,Покупка и ремонт недвижимости,...,10,Адм.-хоз. и транспортная службы,12,Жен,Нет,26,0,20,ИСТИНА,ИСТИНА
2,3,8017-098471,1,1,25000,18,Оплата за образование,7000,4000,Затраты на образование (в т.ч. детей),...,8,Участие в основной деятельности,8,Жен,Да,32,3,13,ИСТИНА,ИСТИНА
3,4,2762-945535,1,1,64000,48,Покупка и ремонт недвижимости,7000,5000,Покупка товаров длит. пользования,...,9,Участие в основной деятельности,11,Муж,Нет,50,2,22,ИСТИНА,ИСТИНА
4,5,0459-997701,1,1,3500,6,Покупка товара,3000,1500,"Содержание/аренда недвижимости, а/т",...,7,Участие в основной деятельности,8,Муж,Да,30,0,14,ИСТИНА,ЛОЖЬ

In [3]:
cols=['Код', '№ Паспорта', 'Основное направление расходов', 'Название организации', 'Отраслевая принадлежность предприятия',
     'Адрес', 'ФИО']

credit=credit.drop(cols, axis=1)
credit.columns

Index(['Размер ссуды, руб', 'Срок ссуды, мес', 'Цель ссуды',
       'Среднемесячный доход, руб', 'Среднемесячный расход, руб',
       'Наличие недвижимости', 'Наличие автотранспорта',
       'Наличие банковского счета', 'Наличие страховки',
       'Срок работы на данном предприятии, лет',
       'Направление деятельности заемщика',
       'Срок работы на данном направлении, лет', 'Пол', 'Семейное положение',
       'Количество лет', 'Количество иждивенцев',
       'Срок проживания в данной местности, лет', 'Обеспеченность займа',
       'Давать кредит'],
      dtype='object')

In [7]:
credit = convert(credit, credit.columns)

In [8]:
credit.head()

,"Размер ссуды, руб","Срок ссуды, мес",Цель ссуды,"Среднемесячный доход, руб","Среднемесячный расход, руб",Наличие недвижимости,Наличие автотранспорта,Наличие банковского счета,Наличие страховки,"Срок работы на данном предприятии, лет",Направление деятельности заемщика,"Срок работы на данном направлении, лет",Пол,Семейное положение,Количество лет,Количество иждивенцев,"Срок проживания в данной местности, лет",Обеспеченность займа,Давать кредит
0,15,1,4,5,4,0,0,1,1,4,5,6,0,0,22,3,20,0,0
1,23,1,1,13,4,0,0,1,1,8,0,10,0,1,7,0,16,0,0
2,40,2,1,10,6,0,0,1,1,6,8,6,0,0,13,3,9,0,0
3,71,7,3,10,8,0,0,1,1,7,8,9,1,1,30,2,18,0,0
4,2,0,4,2,1,1,0,1,1,5,8,6,1,0,11,0,10,0,1

In [17]:
x = credit.iloc[:, credit.columns!="Давать кредит"]
y = credit.iloc[:, credit.columns=="Давать кредит"]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [18]:
clf = LogisticRegression(random_state = 0).fit(x_train, y_train)
predict = clf.predict(x_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [19]:
confusion_matrix(y_test, predict)

array([[20,  4],
       [ 2,  4]], dtype=int64)

In [20]:
clf.score(x, y)

0.87248322147651

In [24]:
predict

array([0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0])

In [26]:
y_test

     Давать кредит
98               0
144              0
85               0
55               0
56               0
128              0
31               0
81               0
76               0
137              0
87               1
70               0
110              0
113              1
125              1
104              0
95               0
53               0
25               0
112              0
93               1
60               0
88               0
41               1
7                1
141              0
91               0
44               0
147              0
37               0